<div class="container">
  <div class="row topspace">
    <div class="col-sm-8 col-sm-offset-2">

      <article ng-repeat="post in $ctrl.posts | orderBy:created_at" class="post">
        <header class="entry-header">
          <div class="entry-meta">
            <span class="posted-on"><time class="entry-date published" date="2013-09-27">{{ post.created_at | date:'short' }}</time></span>
          </div>
          <h1 class="entry-title"><a href="single.html" rel="bookmark">{{ post.title }}</a></h1>
        </header>
        <div class="entry-content">
          <p ng-bind-html="post.body"></p>
        </div>
      </article>

    </div>
  </div>
  <pager ng-if="$ctrl.posts" posts="$ctrl.posts"></pager>
</div>
